// Placeholder to allow overriding predefined variables smoothly.
$background-color: #DFEEEA;

$text-color: #2F5D62;

$link-base-color: #2F5D62;
$link-visited-color: #59777a;
$link-hover-color: #5E8B7E;

$background-color-nav: #5E8B7E;
